<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<div id="button_back">
<%= button_to 'Back',
              users_path,
              :method => :get %>
</div>
<div id="button_edit">
<%= button_to 'Edit',
              edit_user_path(@user),
              :method => :get %>
</div>

