<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count=>@order.errors.size, :model=>t('activerecord.models.order')) %>.</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('.name') %><br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label t('.address_html') %><br />
    <%= f.text_area :address, :rows => 3, :cols => 46 %>
  </div>
  <div class="field">
    <%= f.label t('.email') %><br />
    <%= f.text_field :email, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label t('.pay_type') %><br />
    <%= f.select :pay_type_id,
                 PayType.find(:all).map { |pt| [pt.name, pt.id] },
                 :prompt => t('.pay_prompt_html') %>
  </div>
  <div class="field">
    <%= f.label t('.ship_date_html') %><br />
    <%= f.text_field :ship_date %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>

