<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type id:</b>
  <%= @order.pay_type_id %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type.name %>
</p>

<p>
  <b>Shipped:</b>
  <%= @order.ship_date %>
</p>

<div id="button_back">
<%= button_to 'Back',
              orders_path,
              :method => :get %>
</div>
<div id="button_edit">
<%= button_to 'Edit',
              edit_order_path(@order),
              :method => :get %>
</div>

