<div class="cart_title">Your Cart </div>
<table>
  <%= render(cart.line_items)%>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<div id="cart_buttons">
<% if @order %>
  <div class="button_cancel">
    <%= button_to 'Cancel Order',
                  store_url,
                  :disabled => @order.nil? %>
  </div>
<% else %>
  <div class="button_checkout">
    <%= button_to "Checkout",
                  new_order_path,
                  :method => :get,
                  :disabled => !@order.nil? %>
  </div>
  <div class="button_empty">
    <%= button_to 'Empty cart',
                  cart,
                  :method => :delete,
                  :confirm => 'Are You Sure?',
                  :remote => true,
                  :disabled => !@order.nil? %>
  </div>
<% end %>
</div>

