<div id="grid">
<h1>Listing pay_types</h1>

<table>
  <tr class="line_title">
    <th>Name</th>
    <th colspan="3">Actions</th>
  </tr>

<% @pay_types.each do |pay_type| %>
  <tr class="<%= cycle('line_old', 'line_even') %>">
    <td><%= pay_type.name %></td>
    <td><%= button_to 'Show',
                      pay_type,
                      :method => :get %></td>
    <td><%= button_to 'Edit',
                      edit_pay_type_path(pay_type),
                      :method => :get %></td>
    <td><%= button_to 'Destroy',
                      pay_type,
                      :confirm => 'Are you sure?',
                      :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= will_paginate @pay_types %></p>

<%= button_to 'New Pay type',
              new_pay_type_path,
              :method => :get %>

